.partners {
  padding: 75px 0;

  &__list {
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}


@media (max-width: 620px) {
  .partners {
    padding: 60px 0;

    &__list {
      flex-wrap: wrap;
      justify-content: center;
      height: auto;
    }

    &__item {
      margin: 10px 35px;
    }
  }
}

@media (max-width: 500px) {
  .partners {

    &__item {
      margin: 10px 25px;
    }
  }
}

@media (max-width: 450px) {
  .partners {

    &__item {
      margin: 10px 25px;
    }
  }
}